{% load bootstrap4 %}

<div class="card" style="width: 18rem;">
    {% if from_title %}
    <div class="card-header">
        <p>{{ form_title }}</p>
    </div>
    {% endif %}
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {{ submit_lable|default:"Submit" }}
                </button>
            {% endbuttons %}
        </form>
        </ul>
    </div>
</div>
